<!-- Modal -->
<div class="modal fade" id="changePassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title fs-5 " id="exampleModalLabel">修改密码</h5>
            </div>
            <div class="modal-body py-0">
                <div class="tab-content pt-3">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <form>
                            <div class="mb-3">
                                <label for="oldPassword" class="form-label">原密码</label>
                                <input type="password" class="form-control" id="oldPassword">
                            </div>
                            <div class="mb-3">
                                <label for="newPassword" class="form-label">新密码</label>
                                <input type="password" class="form-control" id="newPassword">
                            </div>
                            <div class="mb-3">
                                <label for="newPasswordDC" class="form-label">确认新密码</label>
                                <input type="password" class="form-control" id="newPasswordDC">
                            </div>
                            <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                                <button type="button" class="btn btn-lg btn-primary" id="submitPassword">确认</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    var changePasswordUrl = '@Url.Action("ChangePassword", "Access")';
</script>
