@model IAMS.Models.User.UserInfo;
@{
    Layout = null;

}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/bootstrap-icons/bootstrap-icons.min.css" rel="stylesheet">
    <link href="~/login/signin.css" rel="stylesheet">
    <style>
        body {
            background-image: url('/files/login_background.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <body class="w-100 m-0">
        <div class="row w-100 m-0">
            <!-- 左边空白区域 -->
            <div class="col-6 p-0"></div>
            <div class="col-6 d-flex align-items-center justify-content-center min-vh-100" style="background-color: rgba(0, 0, 0, 0.4)">
                <main class="form-signin text-center">
                    <form asp-controller="Access" asp-action="Login" method="post">

                        <h1 class="h3 mb-3 fw-normal text-white">登录EMS系统</h1>


                        <div class="form-floating pt-1">
                            <input type="text" class="form-control" asp-for="Email" placeholder="name@example.com">
                            <label for="username">账号/邮箱</label>
                        </div>
                        <div class="form-floating pt-1">
                            <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                            <label for="password">密码</label>
                        </div>

                        <div class="checkbox mb-3">
                            <label class="text-white">
                                <input type="checkbox" asp-for="KeepLoggedIn"> Keep Me Log In
                            </label>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">登录</button>

                        @if (ViewData["ValidateMessage"] != null) {
                            <br />
                            <br />
                            <div class="alert alert-danger d-flex align-items-center" role="alert">
                                <i class="bi bi-exclamation-triangle-fill"></i>
                                <div>
                                    Username or Password error
                                </div>
                            </div>
                        }
                    </form>
                </main>
            </div>
        </div>


    </body>

</body>

</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    $(document).ready(function () {

        $("#SubmitButton").click(function(){
            var foo = {};
            foo.username = $("#username").val();
            foo.password = $("#password").val();
            var data = JSON.stringify(foo);
            $.ajax({
                url: "/Login/Index",
                type: "post",
                async: false,
                dataType: "json",
                contentType:"application/json",
                data: data,
                success: function (data) {
                    if (data.StatusCode == 200) {
                        window.location.href = "/Home/Index";
                    } else if (data.StatusCode == 500) {
                        alert("Login Fail!");
                    }
                    //window.location.href = document.referrer;
                }
            })
        });

    })

</script>

