@model IAMS.Models.Access.Login.VMLogin;
@{
    Layout = null;

}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/bootstrap5/bootstrap.min.css" rel="stylesheet">
    <link href="~/bootstrap-icons/bootstrap-icons.min.css" rel="stylesheet">
    <link href="~/login/signin.css" rel="stylesheet">

</head>
<body>
    <main class="form-signin text-center">
        <form asp-controller="Access" asp-action="Login" method="post">
            <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-balloon-fill' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.48 10.901C11.211 10.227 13 7.837 13 5A5 5 0 0 0 3 5c0 2.837 1.789 5.227 4.52 5.901l-.244.487a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2 2 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224zM4.352 3.356a4 4 0 0 1 3.15-2.325C7.774.997 8 1.224 8 1.5s-.226.496-.498.542c-.95.162-1.749.78-2.173 1.617a.6.6 0 0 1-.52.341c-.346 0-.599-.329-.457-.644'/%3E%3C/svg%3E" alt="Balloon SVG Image">

            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input type="text" class="form-control" asp-for="Email" placeholder="name@example.com">
                <label for="username">账号/邮箱</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                <label for="password">密码</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" asp-for="KeepLoggedIn"> Keep Me Log In
                </label>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Sign in</button>

            @if (ViewData["ValidateMessage"] != null) {
                <br />
                <br />
                <div class="alert alert-danger d-flex align-items-center" role="alert">
                    <i class="bi bi-exclamation-triangle-fill"></i>
                    <div>
                        Username or Password error
                    </div>
                </div>
            }
        </form>
    </main>
</body>

</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    $(document).ready(function () {

        $("#SubmitButton").click(function(){
            var foo = {};
            foo.username = $("#username").val();
            foo.password = $("#password").val();
            var data = JSON.stringify(foo);
            $.ajax({
                url: "/Login/Index",
                type: "post",
                async: false,
                dataType: "json",
                contentType:"application/json",
                data: data,
                success: function (data) {
                    if (data.StatusCode == 200) {
                        window.location.href = "/Home/Index";
                    } else if (data.StatusCode == 500) {
                        alert("Login Fail!");
                    }
                    //window.location.href = document.referrer;
                }
            })
        });

    })

</script>

