@model IAMS.ViewModels.DeviceMonitor.DeviceMonitorViewModel

@await Html.PartialAsync("_PowerStationAndCabinetSelector",Model.PowerStationInfos)

<div class="row pt-3">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-pcs-tab" data-bs-toggle="tab" data-bs-target="#nav-pcs" type="button" role="tab" aria-controls="nav-pcs" aria-selected="true">PCS</button>
            <button class="nav-link" id="nav-energy-stack-tab" data-bs-toggle="tab" data-bs-target="#nav-energy-stack" type="button" role="tab" aria-controls="nav-energy-stack" aria-selected="false">BMS</button>
            <button class="nav-link" id="nav-anti-reflux-tab" data-bs-toggle="tab" data-bs-target="#nav-anti-reflux" type="button" role="tab" aria-controls="nav-anti-reflux" aria-selected="false">关口表</button>
        </div>
    </nav>
    <div class="tab-content pt-3" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-pcs" role="tabpanel" aria-labelledby="nav-pcs-tab" tabindex="0">
            @await Html.PartialAsync("~/Views/DeviceMonitor/_PcsDetails.cshtml", @Model.PcsInfos)
        </div>
        <div class="tab-pane fade" id="nav-energy-stack" role="tabpanel" aria-labelledby="nav-energy-stack-tab" tabindex="0">
            @await Html.PartialAsync("~/Views/DeviceMonitor/_EnergyStackDetails.cshtml", @Model.EnergyStorageStackControlInfos)
        </div>
        <div class="tab-pane fade" id="nav-anti-reflux" role="tabpanel" aria-labelledby="nav-anti-reflux-tab" tabindex="0">
            @await Html.PartialAsync("~/Views/DeviceMonitor/_GatewayTableDetails.cshtml", @Model.GatewayTableModelInfos)
        </div>
    </div>

</div>


@section Scripts{
<script>
    $(document).ready(function () {

        $('#energy_storage_cabinet_name').change(function() {
            var val = $(this).val();
            if (val) { // 如果val不为空
                window.location.href ='@Url.Action("Index", "DeviceMonitor")?energyStorageCabinetName=' + encodeURIComponent(val);
            }
        });
    });
</script>



}