<div class="row pt-3">
    <div class="col-2">
        <select id="example-select" class="selectpicker fw-bold" data-live-search="true">
            <option selected>江苏无锡市1号电站</option>
            <option>选项2</option>
            <option>选项3</option>
            <option>选项4</option>
        </select>
    </div>
    <div class="col-2">
        <select id="example-select" class="selectpicker fw-bold" data-live-search="true" @*title="请选择一个选项"*@>
            <option selected>主机(XXXXX)</option>
            <option>选项2</option>
            <option>选项3</option>
            <option>选项4</option>
        </select>
    </div>
</div>