

<div class="row pt-3">
	<table class="table table-bordered text-center" id="StationReportByDay">
		<thead class="table-light">
			<tr>
				<th rowspan="2" class="align-middle">日期</th>
				<th colspan="5">充电量 (kWh)</th>
				<th colspan="5">放电量 (kWh)</th>
				<th rowspan="2" class="align-middle">综合效率 (%)</th>
			</tr>
			<tr>
				<th>尖</th>
				<th>峰</th>
				<th>平</th>
				<th>谷</th>
				<th>总</th>
				<th>尖</th>
				<th>峰</th>
				<th>平</th>
				<th>谷</th>
				<th>总</th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
	</table>
</div>