<div class="row pt-3">
	<div class="col-auto d-flex align-items-center">
		<span>时间范围：</span>
	</div>
	<div class="col-3">
		<input type="date" class="form-control" id="SingleReportTimeTimeRange" value="">
	</div>
	<div class="col-auto">
		<button class="btn btn-primary" type="button">查询</button>
	</div>
	<div class="col-auto">
		<button class="btn btn-outline-secondary" type="button">重置</button>
	</div>
	<div class="col-auto ms-auto">
		<button class="btn btn-primary" type="button">导出报表</button>
	</div>

</div>

<div class="row pt-3">
	<hr>

	<div class="col-max" id="single_station_chart_by_range" style="height:200px;">
	</div>
</div>

<div class="row pt-3">
	
</div>


