<div class="row pt-3">
	<div class="col-auto">
		<span>时间范围：</span>
	</div>
	<div class="col-3">
		<input type="date" class="form-control" id="SummaryTimeRange" value="">
	</div>
	<div class="col-auto">
		<button class="btn btn-primary" type="button">查询</button>
	</div>
	<div class="col-auto">
		<button class="btn btn-outline-secondary" type="button">重置</button>
	</div>
	<div class="col-auto ms-auto">
		<button class="btn btn-primary" type="button">导出报表</button>
	</div>
</div>

<div class="row pt-3">
	<table class="table table-bordered text-center">
		<thead class="table-light">
			<tr>
				<th rowspan="2" class="align-middle">站点名称</th>
				<th colspan="6">充电量 (kWh)</th>
				<th colspan="6">放电量 (kWh)</th>
				<th rowspan="2" class="align-middle">综合效率 (%)</th>
			</tr>
			<tr>
				<th>尖</th>
				<th>峰</th>
				<th>平</th>
				<th>谷</th>
				<th>深谷</th>
				<th>总</th>
				<th>尖</th>
				<th>峰</th>
				<th>平</th>
				<th>谷</th>
				<th>深谷</th>
				<th>总</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>江苏无锡市1号电站</td>
				<td>88888.0</td>
				<td>12,501.0</td>
				<td>465,529.0</td>
				<td>491,733.0</td>
				<td>970,553.0</td>
				<td>9,996.0</td>
				<td>789,235.0</td>
				<td>799,231.0</td>
				<td>89.01</td>
				<td>9,996.0</td>
				<td>789,235.0</td>
				<td>799,231.0</td>
				<td>89.01</td>
			</tr>
			<tr>
				<td>江苏无锡市2号电站</td>
				<td>54.0</td>
				<td>12,501.0</td>
				<td>465,529.0</td>
				<td>491,733.0</td>
				<td>970,553.0</td>
				<td>9,996.0</td>
				<td>789,235.0</td>
				<td>799,231.0</td>
				<td>89.01</td>
				<td>9,996.0</td>
				<td>789,235.0</td>
				<td>799,231.0</td>
				<td>89.01</td>
			</tr>
			<tr>
				<td>江苏无锡市3号电站</td>
				<td>54.0</td>
				<td>12,501.0</td>
				<td>465,529.0</td>
				<td>491,733.0</td>
				<td>970,553.0</td>
				<td>9,996.0</td>
				<td>789,235.0</td>
				<td>799,231.0</td>
				<td>89.01</td>
				<td>9,996.0</td>
				<td>789,235.0</td>
				<td>799,231.0</td>
				<td>89.01</td>
			</tr>
			<tr class="table-secondary fw-bold">
				<td>总计</td>
				<td>420,241.6</td>
				<td>444,594.3</td>
				<td>894,141.3</td>
				<td>883,389.7</td>
				<td>2,643,384.3</td>
				<td>894,141.3</td>
				<td>883,389.7</td>
				<td>2,643,384.3</td>
				<td>830,839.5</td>
				<td>830,839.5</td>
				<td>2,021,421.1</td>
				<td>2,852,260.6</td>
				<td>88.71</td>
			</tr>
		</tbody>
	</table>
</div>