<style>
    .checkbox-container {
        max-height: 200px; /* 限制高度，超出部分滚动 */
        overflow-y: auto; /* 垂直滚动 */
        border: 1px solid #ddd; /* 添加边框 */
        padding: 10px;
        border-radius: 5px;
    }
</style>

<!-- Modal -->
<input type="text" hidden id="selectedPsId">
<div class="modal fade" id="bindUserModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title fs-5" id="detailModalLabel">绑定储能站--<span class="bindUserModalStationName"></span></h5>
            </div>
            <div class="modal-body py-0">
                <div class="container mt-4">
                    <h6>请选择要分配的用户：</h6>
                    <div id="checkboxUser" class="checkbox-container">
                        
                    </div>
                </div>

            </div>

            <div class="modal-footer flex-column align-items-stretch w-100 gap-1 pb-3 border-top-0">
                <button type="button" id="bindUserOK" class="btn btn-lg btn-primary" data-bs-dismiss="modal">OK</button>
                <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
