
<div class="row pt-2">
    <div class="col-10">
        <p class="h5">多站总览 <span class="badge text-bg-warning">@DateTime.Now.ToString("yyyy-mm-dd")</span></p>
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-success">创建电站</button>
    </div>
</div>

<div class="row pt-2">
    <div class="col">
        <div class="card">
            <div class="card-body">
                PIM 总数
                <ul class="list-unstyled mt-3 mb-4">
                    <li><h3 class="card-title pricing-card-title">2</h3></li>
                    <li>在线5 个, 离线0个, 待运维0个</li>
                    <li>装机功率: 1.8 MW | 装机容量: 3.9 MWh</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                PIM 总数
                <ul class="list-unstyled mt-3 mb-4">
                    <li><h3 class="card-title pricing-card-title">2</h3></li>
                    <li>在线5 个, 离线0个, 待运维0个</li>
                    <li>装机功率: 1.8 MW | 装机容量: 3.9 MWh</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                PIM 总数
                <ul class="list-unstyled mt-3 mb-4">
                    <li><h3 class="card-title pricing-card-title">2</h3></li>
                    <li>在线5 个, 离线0个, 待运维0个</li>
                    <li>装机功率: 1.8 MW | 装机容量: 3.9 MWh</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                PIM 总数
                <ul class="list-unstyled mt-3 mb-4">
                    <li><h3 class="card-title pricing-card-title">2</h3></li>
                    <li>在线5 个, 离线0个, 待运维0个</li>
                    <li>装机功率: 1.8 MW | 装机容量: 3.9 MWh</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="row pt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-7">
                        <h6>收益统计</h6>
                    </div>
                    <div class="col-2">
                        <nav class="navbar navbar-expand-sm navbar-light bg-light py-1">
                            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                                <ul class="navbar-nav me-auto mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">近1周</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">近1月</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">近1年</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <label for="daterange" class="form-label mb-0 me-2">选择日期时间段</label>
                        <input type="text" id="daterange" class="form-control w-auto" style="min-width: 150px;" />
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-7" id="earnings_chart1" style="height:400px;border-right: 2px solid #ccc;">
                    </div>
                    <div class="col-5" id="earnings_chart2" style="height:400px;border-right: 2px solid #ccc;">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row pt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h6>PIM List</h6>
            </div>
            <div class="card-body">
                <table id="table"
                       class="table table-bordered table-striped"
                       data-toggle="table"
                       data-search="true"
                       data-pagination="true">
                    <thead>
                        <tr>
                            <th data-field="id">编号</th>
                            <th data-field="name">姓名</th>
                            <th data-field="position">职位</th>
                            <th data-field="department">部门</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < 80; i++) {
                            <tr>
                                <td>@i</td>
                                <td>张+@i</td>
                                <td>软件工程师</td>
                                <td>研发部</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



@section Scripts{

<script>
    $(document).ready(function () {

    $('#daterange').daterangepicker({
        timePicker: true,  // 启用时间选择器
        timePicker24Hour: true,  // 24小时制
        timePickerSeconds: false,  // 显示秒
        locale: {
            format: 'YYYY-MM-DD'  // 日期和时间格式
        }
    });


        var chartDom = document.getElementById('earnings_chart1');
        var myChart = echarts.init(chartDom);
        var option;

        option = {
            xAxis: {
            type: 'category',
            position: 'bottom',  // 这是默认配置，如果需要把X轴放在y=0的位置，可以使用它
            axisLine: {
                onZero: true // 让X轴在Y=0的位置显示
            }
            },
            yAxis: {
            type: 'value',
            axisLine: {
                onZero: false // 让Y轴不强制在X轴的0位置显示
            }
            },
            series: [{
            data: [10, 20, -30, 40, 50],
            type: 'bar'
            }]
        };

        option && myChart.setOption(option);

        chartDom = document.getElementById('earnings_chart2');
        myChart = echarts.init(chartDom);
        const labelRight = {
            position: 'right'
        };

            option = {
                title: {
                text: 'Bar Chart with Negative Value'
                },
                tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
                },
                grid: {
                top: 80,
                bottom: 30
                },
                xAxis: {
                type: 'value',
                position: 'top',
                splitLine: {
                    lineStyle: {
                    type: 'dashed'
                    }
                }
                },
                yAxis: {
                type: 'category',
                axisLine: { show: false },
                axisLabel: { show: false },
                axisTick: { show: false },
                splitLine: { show: false },
                data: [
                    'ten',
                    'nine',
                    'eight',
                    'seven',
                    'six',
                    'five',
                    'four',
                    'three',
                    'two',
                    'one'
                ]
                },
                series: [
                {
                    name: 'Cost',
                    type: 'bar',
                    stack: 'Total',
                    label: {
                    show: true,
                    formatter: '{b}'
                    },
                    data: [
                    { value: -0.07, label: labelRight },
                    { value: -0.09, label: labelRight },
                    0.2,
                    0.44,
                    { value: -0.23, label: labelRight },
                    0.08,
                    { value: -0.17, label: labelRight },
                    0.47,
                    { value: -0.36, label: labelRight },
                    0.18
                    ]
                }
            ]
        };

        option && myChart.setOption(option);
    })

</script>
}