<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="logDir" value="logs" />

	<targets>
		<!-- 控制台日志 -->
		<target name="console" xsi:type="Console" layout="${longdate} [${level}] ${message} ${exception}" />

		<!-- 按天存储日志文件 -->
		<target name="file" xsi:type="File"
				fileName="${logDir}/${shortdate}.log"
				layout="${longdate} [${level}] ${message} ${exception}"
				archiveFileName="${logDir}/archive/{#}.log"
				archiveEvery="Day"
				archiveNumbering="Date"
				maxArchiveFiles="30"
				encoding="utf-8"/>
	</targets>

	<rules>
		<!-- 只记录 Warn 及以上级别的日志到控制台 -->
		<logger name="*" minlevel="Warn" writeTo="console" />

		<!-- 只记录 Warn 及以上级别的日志到按天存储的日志文件 -->
		<logger name="*" minlevel="Warn" writeTo="file" />
	</rules>
</nlog>
